<ul class='blogs_list'>
  <% Blog.all.reverse.each do |blog| %>
    <li>
      <h2>
        <%= link_to "##{blog.id}", name: blog.id do %>
          <i class='glyphicon glyphicon-link'></i>
        <% end %>

        <%= blog.title %>
      </h2>

      <%= @markdown.render(blog.content).html_safe %>

      <%= link_to 'Delete', "blogs/#{blog.id}", method: :delete %><br>
    </li>
  <% end %>
</ul>
