<h1>About</h1>

<article>
  <h3>Bio</h3>
    <p>
      I am a student at NC State University in Raleigh, NC studying engineering. I was born in Jacksonville, NC and raised mostly in Cape Carteret, NC. I have many interests including reading, sailing, good food, visual and performing art, music, coffee and chocolate. Intellectual topics of interest include engineering, finance, economics, politics, and literature.
    </p>

    <p>
      My lifestyle includes searching for the best places to find whatever peaks my interest. There is a chocolate shop in Raleigh, NC called <%= link_to 'Escazu', 'http://www.escazuchocolates.com/', target:'_blank' %>, which is my all-time favorite chocolatier.
    </p>
  
  <h3>Career</h3>
    <p>
      I am studying Computer Science and Computer and Electrical Engineering at NC State University in Raleigh, NC. My interests include both high level and low level programming as well as scripting. This website is, in fact, one big test in an attempt to learn HTML, CSS, XML, Javascript, etc.
    </p>
    
    <h3>Music</h3>
    <p>
      I really love all kinds of music from Brahms to Iron and Wine. Fun, Bob Marley, Jack Johnson, Chris Potter, Mumford and Sons, The Beatles, Peter Paul and Mary, Diana Ross, Whitney Houston, Billy Joel, among others.
    </p>
    
    <h3>TV Shows</h3>
    <p>
      Modern Family, Downton Abbey, and The Walking Dead are among my current favorites. Of course, popular shows come and go quickly, so feel free to <%= link_to 'recommend', :contact %> something you think I might like!
    </p>
    
    <h3>Movies</h3>
    <p>
      This one is hard, but some of the movies I've liked the most include Sweeney Todd, Billy Elliot, Pulp Fiction, The Grey and Inception.
    </p>
    
    <h3>Books</h3>
    <p>
      For fiction, I enjoy the Harry Potter series as well as many of the classics such as A Portrait of the Artist as a Young Man, The Scarlet Letter, To Kill a Mockingbird, etc. There are so many! One series I read in middle school that I remember quite fondly yet is not very well known is the <%= link_to 'Tales of the Otori by Lian Hearn', 'http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Dstripbooks&field-keywords=tales+of+the+otori&rh=n%3A283155%2Ck%3Atales+of+the+otori', target:"_blank" %>.
    </p>
    <p>
      Most of the reading I do is non-fiction, naturally as a college student. Although I have to read my text books, there are also many books which I enjoy outside of school. Currently, I'm reading <%= link_to 'Zero: The Biography of a Dangerous Idea by Charles Seife', "http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Dstripbooks&field-keywords=zero+charles+seife&rh=n%3A283155%2Ck%3Azero+charles+seife", target:"_blank" %>, a must read for anyone interested in the origin of mathematics and philosophy.
    </p>
    
    <h3>Hobbies</h3>
    <p>
      I love taking pictures with my DSLR camera, a Nikon D3100. Look on my albums page for some of my photography. I also like to occasionally play saxophone, both jazz and classical, and I am slowing pickup up guitar as well.
    </p>
 </article>

