<h1>About</h1>

<article>
  <h3>Career</h3>
    <p>I am studying Computer Science and Computer and Electrical Engineering at NC State University in Raleigh, NC. My interests include both high level and low level programming as well as scripting. This website is, in fact, one big test in an attempt to learn HTML, CSS, XML, Javascript, etc.
    </p>
    
    <h3>Music</h3>
    <p>
      I really love all kinds of music from Brahms to Iron and Wine.
    </p>
    
    <h3>TV Shows</h3>
    <p>
      Modern Family, Downton Abbey
    </p>
    
    <h3>Movies</h3>
    <p>
      This one is hard, but some of the movies I've liked the most include Sweeney Todd, Billy Elliot, and Secretariat.
    </p>
    
    <h3>Books</h3>
    <p>
      Harry Potter, definitely. I also enjoy many of the classics such as A Portrait of the Artist as a Young Man, The Scarlet Letter, To Kill a Mockingbird, etc. There are so many!
    </p>
    
    <h3>Hobbies</h3>
    <p>
      I Love taking pictures with my DSLR camera, a Nikon D3100. Look on my albums page for some of my photography. I also like to occasionally play saxophone, both jazz and classical.
    </p>
 </article>

