<div class='row'>
  <div class='col-md-8'>
    <%= render 'shared/error_messages', model: project %>
    <%= form_for project, class: 'form-horizontal' do |f| %>
      <div class='form-group'>
        <%= f.text_area :description,
          placeholder: 'Description',
          rows: 7,
          class: 'form-control' %>
      </div>

      <%= f.submit class: 'btn' %>
    <% end %>
  </div>
</div>
