<h1>Media</h1>

<div class='row'>
  <div class='col-md-8'>
    <ul>
      <% Medium.all.reverse.each do |medium_post| %>
        <li>
          <h2>
            <%= link_to '#', "##{medium_post.id}", name: medium_post.id %>
            <%= medium_post.title %>
          </h2>

          <%= raw @markdown.render(medium_post || '') %>
          <%#= link_to 'Delete', "/media/#{medium_post.id}", method: :delete %><br>
        </li>
        <br>
      <% end %>
    </ul>
  </div>

  <div class='col-md-4'>
    <%= render 'form', medium: @new_medium if current_user  %>
  </div>
</div>
